{% extends 'base_portal.html' %}
{% load material %}
{% load filter %}

{% block material_content %}

    <form enctype="multipart/form-data" action="{% url 'placement-update' %}" method="post">
        {% csrf_token %}
        {% include 'student/placement/placement_todo_widget.html' %}
    </form>

    <div class="row">
        <div class="
                {% if student.thesis.mentoringrequest.status == 'NR' %}
                   col s12
                {% else %}
                    col s12 m8
                {% endif %}
                ">
            <form action="{% url 'thesis-mentoringrequest-update' %}"
                  method="post">
                {% csrf_token %}
                {% include 'student/thesis/mentoringrequest/mentoringrequest_widget.html' %}
            </form>

        </div>


        {% if student.thesis.mentoring %}
            <div class="col s12 m4 ">
                <form action="{% url 'thesis-registration-update' %}" method="post">
                    {% csrf_token %}
                    {% include 'student/thesis/registration/registration_widget.html' %}
                </form>
                {% if student.thesis.mentoring.pdf_file %}
                    <form action="{% url 'thesis-registration-examinationboard' examinationboard.registration.pk %}"
                          method="post">
                        {% include 'widget/thesis_examinationboard_widget.html' %}
                    </form>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block material_extra_script %}
    {% material_todo_js %}
    <script type="text/javascript">
        $(document).ready(function () {

        })
    </script>


{% endblock %}