{% load material %}

<div class="card todo-list">
    {% if not examinationboard.finished %}
        <div class="card-header">
            <span class="card-title blue-grey-text">Response Examination Board</span>
        </div>
        <div class="card-content">
            {% material_form thesis_registration_examinationboard_form %}
        </div>
        <div class="card-action valign-wrapper">
            <a href="#" type="submit" name="finish" class="col s12 center-align">Save</a>
        </div>
    {% else %}
        <div class="card-header green white-text">
            <span class="card-title">Response Examination Board</span>

            <div class="actions">
                <a href="{% url 'thesis-registration-examinationboard' examinationboard.registration.pk %}?editMode=true"
                   class="fancybox fancybox.iframe"><i class="mdi-editor-border-color white-text"></i></a>
            </div>
        </div>
        <div class="card-content row">
            <div class="col s6">
                <label>Start editing</label>

                <p>{{ examinationboard.start_editing }}</p>
            </div>
            <div class="col s6">
                <label>Stop editing</label>

                <p>{{ examinationboard.start_editing }}</p>
            </div>
            {% if examinationboard.extend_to %}
                <div class="col s12">
                    <label>Extended to</label>

                    <p>{{ examinationboard.extend_to }}</p>
                </div>
            {% endif %}
        </div>

    {% endif %}
</div>