{% extends request.is_ajax|yesno:'base_ajax.html,base_portal.html' %}
{% load staticfiles %}
{% load material %}
{% load filter %}
{% load i18n %}

{% block material_content %}
    <div class="card">
        <div class="card-header">
            <span class="card-title blue-grey-text">{{ object.student }} - {% trans 'Placement' %}<br/><small>{{ object.from_student.course }}</small></span>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col s12">
                    <p>{{ object.description|linebreaksbr }}</p>
                </div>
            </div>
            <div class="row grey lighten-5">
                <div class="col s12 m8">
                    <b>{{ object.workcompany.company }}</b>
                    <ul>
                        <li><i> {{ object.workcompany.description|linebreaksbr }}</i></li>
                    </ul>
                </div>
                <div class="col s12 m4">
                    {% with companycontactdata=object.workcompany.companycontactdata %}
                        {% include 'companycontactdata_widget.html' %}
                    {% endwith %}
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col s4">
                    <a href="{{ MEDIA_URL }}{{ object.report }}" class="fancybox fancybox.iframe">
                        <div class="card">
                            <div class="card-header">
                                <span class="card-title blue-grey-text">{% trans 'Report' %}</span>
                            </div>
                            <div class="card-content{% if object.report %} green-text{% else %} red-text{% endif %} center-align">
                                <i class="mdi-file-cloud-done medium"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s4">
                    <a href="{{ MEDIA_URL }}{{ object.presentation }}" class="fancybox fancybox.iframe">
                        <div class="card">
                            <div class="card-header">
                                <span class="card-title blue-grey-text">{% trans 'Presentation' %}</span>
                            </div>
                            <div class="card-content{% if object.presentation %} green-text{% else %} red-text{% endif %} center-align">
                                <i class="mdi-file-cloud-done medium"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s4">
                    <a href="{{ MEDIA_URL }}{{ object.certificate }}" class="fancybox fancybox.iframe">
                        <div class="card">
                            <div class="card-header">
                                <span class="card-title blue-grey-text">{% trans 'certificate' %}</span>
                            </div>
                            <div class="card-content{% if object.certificate %} green-text{% else %} red-text{% endif %} center-align">
                                <i class="mdi-file-cloud-done medium"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}