{% extends 'base.html' %}
{% load filter %}
{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
    <script type="text/javascript" src="{% static 'js/comments.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container center-vertically">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    {% if placement %}
                        <div class="panel-heading">
                            {% trans 'information on report' %}
                        </div>
                        <div class="panel-body">
                            {% trans 'student' %}: {{ placement.student }}<br>
                            {% trans 'tutor' %}: {{ placement.tutor }}<br>
                            {% trans 'task' %}: {{ placement.task }}<br>
                            {% trans 'report' %}:
                            {% if placement.report %}
                                <a href="{{ placement.report.url }}">
                                    {{ placement.report.file|filename }}
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="panel-heading">
                            {% trans 'information on thesis' %}
                        </div>
                        <div class="panel-body">
                            {% trans 'student' %}: {{ thesis.student }}<br>
                            {% trans 'tutor' %}: {{ thesis.tutor }}<br>
                            {% trans 'title' %}: {{ thesis.task }}<br>
                            {% trans 'thesis' %}:
                             {% if thesis.thesis %}
                                <a href="{{ thesis.thesis.url }}">
                                    {{ thesis.thesis.file|filename }}
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </div>
                     {% endif %}
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!-- Übersicht Bisherige Kommentare -->
        <div class="row ">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                {% for comment in comments %}
                    {% if comment.author == request.user %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <b>{{ comment.author.first_name }} {{ comment.author.last_name }}</b> {% trans 'wrote' %}:
                                <div>
                                    <span class="label label-primary">{{ comment.timestamp }}</span>

                                    <!-- Sichtbarkeit des Kommentars togglen -->
                                    {% csrf_token %}
                                    {% if comment.private %}
                                        <button id="{{ comment.id }}" class="btn btn-warning btn-xs btn-privacy">
                                            <b>{% trans 'Private' %}</b>
                                        </button>
                                    {% else %}
                                        <button id="{{ comment.id }}" class="btn btn-danger btn-xs btn-privacy">
                                            <b>{% trans 'Not private' %}</b>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="panel-body">
                                {{ comment.message }}
                            </div>
                        </div>
                    {% elif not comment.author == request.user and not comment.private %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <b>{{ comment.author.first_name }} {{ comment.author.last_name }}</b> {% trans 'wrote' %}:
                                <div>
                                    <span class="label label-primary">{{ comment.timestamp }}</span>
                                </div>
                            </div>
                            <div class="panel-body">
                                {{ comment.message }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-2"></div>
        </div>

        <!-- Neues Kommentar - Formular -->
        <div class="row ">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <h3>{% trans 'Create a comment' %}</h3>

                <form action="" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_field comment_form.message show_label=False %}
                    {% bootstrap_field comment_form.private %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% trans 'Send' %}
                        </button>
                    {% endbuttons %}
                </form>
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}