{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}
{% load filter %}

{% block head %}
    <script src="{% static 'js/delete_dialog.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container center-vertically">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">{% trans 'Placement seminar' %}</h1>
                    </div>
                    <div class="panel-body">
                        <form enctype="multipart/form-data" action="" method="post" class="form">
                            {% csrf_token %}

                            {% bootstrap_field form.year %}

                            {% buttons %}
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    {% trans 'Update' %}
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">
                            {% trans 'Placement seminar appointments' %}
                            <a href="{% url 'placement-seminar-entry-create' %}?placement_seminar={{ form.instance.id }}" class="btn btn-success btn-sm" role="button"><b>{% trans 'Create appointment' %}</b></a>
                        </h1>
                    </div>
                    <div class="panel-body">
                        {% for entry in entrys %}
                            <form id="delete_form_{{ entry.id }}" action="{% url 'placement-seminar-entry-delete' entry.id %}" method="post">
                                {% csrf_token %}
                            </form>
                        {% endfor %}
                        <form method="post" id="{{ form.instance.id }}"
                              action="{% url 'placement-seminar-entry-process' %}">
                            {% csrf_token %}
                            <input type="hidden" id="id_placement_seminar" name="placement_seminar"
                                   value="{{ form.instance.id }}">
                            <div class="table-responsive">
                                <table id="placements-table"
                                       class="table table-striped table-bordered table-hover table-condensed">
                                    <thead>
                                    <tr>
                                        <th class="wrap-column text-center">{% trans 'Student' %}</th>
                                        {% for entry in entrys %}
                                            <th class="wrap-column text-center">
                                                {{ entry.date|date:"d.m.Y" }}
                                            </th>
                                        {% endfor %}
                                        <th class="wrap-column text-center">{% trans 'Presentation done' %}</th>
                                        <th class="wrap-column text-center">{% trans 'Number appointments present' %}</th>
                                        <th class="wrap-column text-center">{% trans 'Placement seminar done' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if entrys %}
                                        <tr>
                                            <td></td>
                                            {% for entry in entrys %}
                                                <td class="text-center"
                                                    style="vertical-align: middle;">
                                                    <input data-form-id="delete_form_{{ entry.id }}" class="btn btn-danger" type="button" value="{% trans 'Delete' %}" data-toggle="modal" data-target="#delete-dialog"/>
                                                </td>
                                            {% endfor %}
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    {% endif %}
                                    {% for student in students %}
                                        <tr>
                                            <td class="text-center"
                                                style="vertical-align: middle;">{{ student.user.first_name }} {{ student.user.last_name }}
                                                ({{ student.matriculation_number }})
                                            </td>
                                            {% for entry in entrys %}
                                                <td>
                                                    <input name="{{ entry.id }}_{{ student.id }}" class="form-control"
                                                           type="checkbox"
                                                            {% for entry_student in entry.seminar_students.all %}
                                                                {% if entry_student == student %}
                                                           checked="checked"
                                                                {% endif %}
                                                            {% endfor %}
                                                    >
                                                </td>
                                            {% endfor %}
                                            <td>
                                                <select name="presentation_done_{{ student.id }}" class="form-control">
                                                    <option value="">-</option>
                                                    {% for entry in entrys %}
                                                        {% if student.placement_seminar_presentation_date == entry %}
                                                            <option value="{{ entry.id }}" selected>
                                                                {{ entry.date|date:"d.m.Y" }}
                                                            </option>
                                                        {% else %}
                                                            <option value="{{ entry.id }}">
                                                                {{ entry.date|date:"d.m.Y" }}
                                                            </option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            {% for key, value in numbers_present_dict.items %}
                                                {% if key == student.id %}
                                                    <td class="text-center"
                                                        style="vertical-align: middle;">{{ value }}</td>
                                                {% endif %}
                                            {% endfor %}
                                            <td><input name="placement_seminar_done_{{ student.id }}"
                                                       class="form-control"
                                                       type="checkbox"
                                                    {% if student.placement_seminar_done %}
                                                       checked="checked"
                                                    {% endif %}
                                            ></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% buttons %}
                                <button type="submit"
                                        class="btn btn-primary btn-lg btn-block">
                                    {% trans 'Update' %}
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "delete_dialog.html" %}
{% endblock %}