{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}
{% load filter %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.js"></script>

    <!-- DataTables-Plugin für Sortierbarkeit von Checkboxen | http://www.datatables.net/plug-ins/sorting/custom-data-source/dom-checkbox -->
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.10/sorting/custom-data-source/dom-checkbox.js"></script>

    <!-- DataTables-Plugin für Sortierbarkeit Input-Elementen | http://datatables.net/plug-ins/sorting/custom-data-source/dom-text -->
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.10/sorting/custom-data-source/dom-text.js"></script>

    <!-- DataTables-Plugin für Sortierbarkeit Select-Elementen | http://datatables.net/plug-ins/sorting/custom-data-source/dom-select -->
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.10/sorting/custom-data-source/dom-select.js"></script>

    <!-- Dependency für Sortierbarkeit Datum Deutsch | https://datatables.net/plug-ins/sorting/date-de -->
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.11/sorting/date-de.js"></script>

    <!-- DataTables-Konfiguration -->
    <script type="text/javascript" src="{% static 'js/tutor_index.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid center-vertically">
        <!-- Meldungen -->
        <div class="row">
            <div class="col-sm-12">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% elif  message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% else %}alert-info{% endif %} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <!-- Poster -->
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    {% for thesis in theses %}
                        <form method="POST" id="{{ thesis.id }}" action="{% url 'tutor-poster-update' thesis.id %}">
                            {% csrf_token %}
                        </form>
                    {% endfor %}
                    <table id="poster-table" class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                        <tr>
                            <th class="wrap-column">{% trans 'First name' %}</th>
                            <th class="wrap-column">{% trans 'Last name' %}</th>
                            <th class="wrap-column">{% trans 'Email' %}</th>
                            <th class="wrap-column">{% trans 'Course' %}</th>
                            <th class="wrap-column">{% trans 'Tutor' %}</th>
                            <th class="wrap-column">{% trans 'Deadline' %}</th>
                            <th class="wrap-column">{% trans 'Poster' %}</th>
                            <th class="wrap-column">{% trans 'Printed' %}</th>
                            <th class="wrap-column">{% trans 'Accepted' %}</th>
                            <th class="wrap-column">{% trans 'Save' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for thesis in theses %}
                            <tr>
                                <td>{{ thesis.student.user.first_name }}</td>
                                <td>{{ thesis.student.user.last_name }}</td>
                                <td><a href="mailto:{{ thesis.student.user.email }}">{{ thesis.student.user.email }}</a></td>
                                <td>{{ thesis.student.course }}</td>
                                <td>{{ thesis.tutor }}</td>
                                <td>{{ thesis.deadline | date:"d.m.Y" | default_if_none:"" }}</td>
                                <td>{% if thesis.poster %}
                                    <a href="{{ thesis.poster.url }}">
                                        <button type="button" class="btn btn-default center-block">
                                            <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                                        </button>
                                    </a>
                                {% endif %}</td>
                                <td>
                                    <input type="checkbox" name="poster_printed" form="{{ thesis.id }}" {{ thesis.poster_printed|boolean_checked|default_if_none:"" }}>
                                </td>
                                <td>
                                    <input type="checkbox" name="poster_accepted" form="{{ thesis.id }}" {{ thesis.poster_accepted|boolean_checked|default_if_none:"" }}>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-default center-block" form="{{ thesis.id }}">
                                        <span class="glyphicon glyphicon-floppy-disk"></span>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>{% trans 'First name' %}</th>
                            <th>{% trans 'Last name' %}</th>
                            <th>{% trans 'Email' %}</th>
                            <th>{% trans 'Course' %}</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}