{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}
    <div class="container center-vertically">
        <div class="row ">
            <div class="col-md-12">
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <a href="{% url 'student-placement' %}">
                            <button type="button" class="btn btn-default">{% trans 'Placement' %}</button>
                        </a>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="#">
                            <button type="button" class="btn btn-default">{% trans 'Thesis' %}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}