{% load material %}
{% load filter %}
{% load i18n %}

<div class="card todo-list">
    <div class="card-header green white-text">
        <div class="card-title">
            <a href="{% url 'student-placement-preview' placement.pk %}"
               class="fancybox fancybox.iframe white-text">{{ placement_title }} {{ for_course }} {{ placement.course }}
                <i
                        class="mdi-action-done-all"></i></a></div>
        <div class="actions">
            <a href="{% url 'student-placement-preview' placement.pk %}" class="fancybox fancybox.iframe"><i
                    class="mdi-av-my-library-books white-text"></i></a></div>
    </div>
    <div class="card-content">
        {% include 'student_placement_content_widget.html' %}
    </div>
</div>