{% load material %}
{% load i18n %}
{% load filter %}
{% trans 'Thesis' as thesis_title %}
{% trans 'Thesis new' as thesis_title_new %}
{% trans 'Edit in Form' as edit_form %}
{% trans 'Finish' as finish %}
{% trans 'Preview' as preview %}
{% trans 'For course' as for_course %}
{% trans 'company placement' as company %}
{% trans 'Contact-Data placement' as contactdata %}
{% trans 'Delete' as delete %}
{% trans 'Mentoring-Request' as mr_title %}


<div class="card">
    {% if not thesis.mentoringrequest.state == 'DE' %}
        <div class="card-header white">

            <div class="actions blue-grey-text">

                <a href="{% url 'student-thesis-editable' thesis.pk %}"><i
                        class="mdi-editor-border-color"></i></a>
            </div>
        </div>
    {% endif %}
    <div class="card-content">
        {% if thesis.mentoringrequest.state == 'DE' %}
            {% include 'student_thesis_widget_de.html' %}
        {% else %}

            {% with thesis as object %}
                {% include 'student_thesis_preview_widget.html' %}
            {% endwith %}
        {% endif %}
    </div>
</div>