{% load material %}
{% load i18n %}
{% load filter %}
{% trans 'Thesis' as thesis_title %}
{% trans 'Thesis new' as thesis_title_new %}
{% trans 'Edit in Form' as edit_form %}
{% trans 'Finish' as finish %}
{% trans 'Preview' as preview %}
{% trans 'For course' as for_course %}
{% trans 'company placement' as company %}
{% trans 'Contact-Data placement' as contactdata %}
{% trans 'Delete' as delete %}
{% trans 'Mentoring-Request' as mr_title %}


<div class="card">
    <div class="card-content">
        {% if thesis.mentoringrequest.state == 'NR' %}
            {% include 'student_thesis_widget_nr.html' %}
        {% elif thesis.mentoringrequest.state == 'RE' %}
            {% include 'student_thesis_widget_re.html' %}
        {% elif thesis.mentoringrequest.state == 'AC' %}
            {% include 'student_thesis_widget_ac.html' %}
        {% elif thesis.mentoringrequest.state == 'DE' %}
            {% include 'student_thesis_widget_de.html' %}
        {% else %}
            {% include 'student_thesis_widget_nr.html' %}
        {% endif %}
    </div>
</div>