{% extends request.is_ajax|yesno:"base_ajax.html,base_portal.html" %}
{% load material %}
{% load i18n %}
{% block material_content %}

    <form enctype="multipart/form-data" action="" method="post">
        <div class="card">
            {% trans 'Registration' as tr %}
            {% material_card_header title=tr actions='dropdown_thesis_registration' %}

            <div class="card-content">
                {% csrf_token %}
                {% material_form thesis_registration_form %}
            </div>
            <div class="card-action valign-wrapper">
                <input type="submit">
            </div>

        </div>
    </form>


{% endblock %}