{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% load filter %}
{% load staticfiles %}

{% block content %}
    <div class="container center-vertically">
        <!-- Übersicht abgelehnte Betreuungsanfragen -->
        {% if denied_theses %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h1 class="panel-title">{% trans 'Denied mentoring requests' %}</h1>
                        </div>

                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-condensed">
                                    <tr>
                                        <th>{% trans 'tutor' %}</th>
                                        <th>{% trans 'task' %}</th>
                                        <th>{% trans 'Type' %}</th>
                                        <th class="wrap-column">{% trans 'Comments' %}</th>
                                    </tr>

                                    {% for denied_thesis in denied_theses %}
                                        <tr>
                                            <td>
                                                {{ denied_thesis.tutor }}
                                            </td>
                                            <td>
                                                {{ denied_thesis.task }}
                                            </td>
                                            <td>
                                                {{ denied_thesis.type }}
                                            </td>
                                            <td>
                                                <a href="{% url 'comments' denied_thesis.id %}" title="{% trans 'Comments' %}">
                                                    <button type="button" class="btn btn-default center-block"
                                                            {% if denied_thesis.comment_unread_by_student %}
                                                            style="background-color:#ffff80;"
                                                            {% endif %}
                                                    >
                                                        <span class="glyphicon glyphicon-comment"></span>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- Meldungen -->
        <div class="row">
            <div class="col-sm-12">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% elif  message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% else %}alert-info{% endif %} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <!-- Aktive Abschlussarbeit bzw. Betreuungsanfrage" -->
        <div class="row ">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">{% trans 'Active mentoring request' %}</h1>
                    </div>

                    <div class="panel-body">

                        <!-- Status -->
                        <div class="alert {% if thesis.mentoring_requested and not thesis.archived %} {{ thesis.mentoring_accepted|state_css }} {% elif thesis.archived %} alert-placement-completed {% else %} alert-info {% endif %}"
                             role="alert">
                            <div class="row ">
                                <div class="col-md-4">
                                    {% trans 'State: ' %}
                                    {% if thesis.mentoring_requested and not thesis.archived %}
                                        {{ thesis.mentoring_accepted|state }}
                                    {% elif thesis.archived %}
                                        {% trans 'Archived' %}
                                    {% else %}
                                        {% trans 'not requested' %}
                                    {% endif %}
                                </div>

                                <div class="col-md-3"></div>

                                <div class="col-md-5">
                                    {% if help_messages %}
                                        <a title="{{ help_messages }}">
                                            <button type="button" class="btn btn-default" disabled>
                                                {% trans 'Download application form' %}
                                                <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                                            </button>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'student-thesis-document' thesis.id %}" title="{% trans 'Download application form' %}">
                                            <button type="button" class="btn btn-default">
                                                {% trans 'Download application form' %}
                                                <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                                            </button>
                                        </a>
                                    {% endif %}

                                    <a href="{% url 'comments' thesis.id %}" title="{% trans 'Comments' %}">
                                        <button class="btn btn-default"
                                                {% if not thesis.mentoring_requested %}disabled{% endif %}
                                                {% if thesis.comment_unread_by_student %}
                                                {% endif %}
                                        >
                                            {% trans 'Comments' %} &nbsp;
                                            <span class="glyphicon glyphicon-comment"></span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Formular -->
                        <form enctype="multipart/form-data" action="#" method="post" class="form">
                            {% csrf_token %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h1 class="panel-title">{% trans 'General data' %}</h1>
                                </div>
                                <div class="panel-body">
                                    {% bootstrap_field thesis_form.type %}
                                    {% bootstrap_field thesis_form.tutor %}
                                    {% bootstrap_field thesis_form.task %}
                                    <label class="control-label" for="id_thesis_form-expose">{% trans 'Expose' %}</label> {% file_upload_max_size %}
                                    {% bootstrap_field thesis_form.expose show_label=False %}
                                    <label class="control-label" for="id_thesis_form-thesis">{% trans 'Thesis' %}</label> {% file_upload_max_size %}
                                    {% bootstrap_field thesis_form.thesis show_label=False %}
                                    <label class="control-label" for="id_thesis_form-poster">{% trans 'Poster' %}</label> {% file_upload_max_size %}
                                    {% bootstrap_field thesis_form.poster show_label=False %}
                                    {% bootstrap_field thesis_form.presentation %}
                                    {% bootstrap_field thesis_form.other %}
                                    <div class="form-group">
                                        <label>{% trans 'Deadline' %}</label>
                                        <p>{{ thesis_form.instance.deadline|date:"d.m.Y" }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h1 class="panel-title">{% trans 'Second examiner' %}</h1>
                                </div>
                                <div class="panel-body">
                                    {% bootstrap_field thesis_form.second_examiner_title %}
                                    {% bootstrap_field thesis_form.second_examiner_first_name %}
                                    {% bootstrap_field thesis_form.second_examiner_last_name %}
                                    {% bootstrap_field thesis_form.second_examiner_organisation %}
                                </div>
                            </div>
                            {% if thesis.mentoring_requested %}
                                <div class="checkbox disabled">
                                    <label>
                                        <input name="show_tutor" type="checkbox" value="1" disabled checked="checked">
                                        {% trans 'Request visible for mentor!' %}
                                    </label>
                                </div>
                            {% else %}
                                <div class="checkbox">
                                    <label>
                                        <input name="show_tutor" type="checkbox" value="1">
                                        {% trans 'Request visible for mentor!' %}
                                    </label>
                                </div>
                            {% endif %}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    {% trans 'Finish' %}
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

