{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}


{% block content %}
    <div class="container">
        <div class="row ">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">{% trans 'Settings' %}</h1>
                    </div>

                    <div class="panel-body">
                        <form action="{% url 'student-settings' %}" method="post" class="form">
                            {% csrf_token %}

                            {{ student_user_formset.management_form }}
                            {% for form in student_user_formset.forms %}
                                {% bootstrap_field form.title %}
                                {% bootstrap_field form.user %}
                            {% endfor %}
                            {% bootstrap_field user_form.first_name %}
                            {% bootstrap_field user_form.last_name %}

                            {% for form in student_user_formset.forms %}
                                {% bootstrap_field form.matriculation_number %}
                                {% bootstrap_field form.course %}
                                {% bootstrap_field form.placement_year %}
                                {% bootstrap_field form.phone %}
                                {% bootstrap_field form.extern_email %}
                                {% bootstrap_field form.portaluser_ptr %}
                            {% endfor %}
                            {% bootstrap_formset student_address_formset %}

                            {% buttons %}
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    {% trans 'Finish' %}
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}