{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% load filter %}
{% load staticfiles %}

{% block head %}
    <script src="{% static 'js/datepicker.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container center-vertically">
        <!-- Übersicht abgelehnte Betreuungsanfragen -->
        {% if denied_placements %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h1 class="panel-title">{% trans 'Denied mentoring requests' %}</h1>
                        </div>

                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-condensed">
                                    <tr>
                                        <th>{% trans 'tutor' %}</th>
                                        <th>{% trans 'task' %}</th>
                                        <th class="wrap-column">{% trans 'Comments' %}</th>
                                    </tr>

                                    {% for denied_placement in denied_placements %}
                                        <tr>
                                            <td>
                                                {{ denied_placement.tutor }}
                                            </td>
                                            <td>
                                                {{ denied_placement.task }}
                                            </td>
                                            <td>
                                                <a href="{% url 'comments' denied_placement.id %}" title="{% trans 'Comments' %}">
                                                    <button type="button" class="btn btn-default center-block"
                                                            {% if denied_placement.comment_unread_by_student %}
                                                            style="background-color:#ffff80;"
                                                            {% endif %}
                                                    >
                                                        <span class="glyphicon glyphicon-comment"></span>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- Aktives Praktikum bzw. Betreuungsanfrage" -->
        <div class="row ">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">{% trans 'Active mentoring request' %}</h1>
                    </div>

                    <div class="panel-body">

                        <!-- Status -->
                        <div class="alert {% if placement.mentoring_requested and not placement.completed %} {{ placement.mentoring_accepted|state_css }} {% elif placement.completed %} alert-placement-completed {% else %} alert-info {% endif %}"
                             role="alert">
                            <div class="row ">
                                <div class="col-md-4">
                                    {% trans 'State: ' %}
                                    {% if placement.mentoring_requested and not placement.completed %}
                                        {{ placement.mentoring_accepted|state }}
                                    {% elif placement.completed %}
                                        {% trans 'Completed' %}
                                    {% else %}
                                        {% trans 'not requested' %}
                                    {% endif %}
                                </div>

                                <div class="col-md-6"></div>

                                <div class="col-md-2">
                                    <a href="{% url 'comments' placement.id %}" title="{% trans 'Comments' %}">
                                        <button class="btn btn-default"
                                                {% if not placement.mentoring_requested %}disabled{% endif %}
                                                {% if placement.comment_unread_by_student %}
                                                style="background-color:#ffff80;"
                                                {% endif %}
                                        >
                                            {% trans 'Comments' %} &nbsp;
                                            <span class="glyphicon glyphicon-comment"></span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Formular -->
                        <form enctype="multipart/form-data" action="{% url 'student-placement-update' %}" method="post" class="form">
                            {% csrf_token %}

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h1 class="panel-title">{% trans 'General data' %}</h1>
                                </div>
                                <div class="panel-body">
                                    {% bootstrap_field placement_form.tutor %}
                                    {% bootstrap_field placement_form.task %}
                                    {% bootstrap_field placement_form.date_from %}
                                    {% bootstrap_field placement_form.date_to %}
                                    {% bootstrap_field placement_form.report %}
                                    {% bootstrap_field placement_form.certificate %}
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h1 class="panel-title">{% trans 'Company data' %}</h1>
                                </div>
                                <div class="panel-body">
                                    {% bootstrap_field placement_form.company_name %}
                                    {% bootstrap_field placement_form.company_address %}
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h1 class="panel-title">{% trans 'Contact person in the company' %}</h1>
                                </div>
                                <div class="panel-body">
                                    {% bootstrap_formset placement_contact_formset %}
                                </div>
                            </div>
                            {% if placement.mentoring_requested %}
                                <div class="checkbox disabled">
                                    <label>
                                        <input name="show_tutor" type="checkbox" value="1" disabled checked="checked">
                                        {% trans 'Request visible for mentor!' %}
                                    </label>
                                </div>
                            {% else %}
                                <div class="checkbox">
                                    <label>
                                        <input name="show_tutor" type="checkbox" value="1">
                                        {% trans 'Request visible for mentor!' %}
                                    </label>
                                </div>
                            {% endif %}

                            {% buttons %}
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    {% trans 'Finish' %}
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

