{% load material %}

<ul id="dropdown_placement" class="dropdown-content">
    {% if not placement.finished %}
        <li><a href="{% url 'student-placement-update' %}" class="fancybox fancybox.iframe edit_form">Edit in Form</a>
        </li>
    {% else %}
        <li><a href="{% url 'student-placement-preview' %}" class="fancybox fancybox.iframe">Preview</a></li>
        <li><a href="{% url 'student-placement-update-todo' %}?editMode=true" class="reload">Edit Mode</a></li>
    {% endif %}
</ul>

<div class="card todo-list">

    {% if not placement.finished %}
        {% material_card_header title='Placement' actions='dropdown_placement' %}
    {% else %}
        <div class="card-header green white-text">
            <div class="card-title">
                <a href="{% url 'student-placement-preview' %}" class="fancybox fancybox.iframe white-text">Placement <i
                        class="mdi-action-done-all"></i></a></div>
            <div class="actions">
                <a href="{% url 'student-placement-update-todo' %}?editMode=true" class="reload"><i
                        class="mdi-editor-border-color white-text"></i></a>
                <a href="{% url 'student-placement-preview' %}" class="fancybox fancybox.iframe"><i
                        class="mdi-av-my-library-books white-text"></i></a></div>
        </div>
    {% endif %}

    <div class="card-content{% if placement.finished %} hide{% endif %}">
        {% material_todo_formfields placement_form exclude='public' %}
        {% material_todo_item_begin %}
        {% material_todo_item_activator id='id_placement_company_todo' label='Company' %}
        <div class="input-group hide col s12">
            {% material_form placement_company_form %}
            {% material_formset placement_company_formset %}
        </div>
        {% material_todo_item_end %}


        {% material_todo_item_begin %}
        {% material_todo_item_activator id='id_placement_workcompany_todo' label='Contact-Data' %}
        <div class="input-group hide col s12">
            {% material_formset placement_contact_formset %}
        </div>
        {% material_todo_item_end %}

        {% material_formfield placement_form.public %}
        {# {% material_todo_formsetfields placement_contact_formset item_group=True %}#}
        </div>
    {% if not placement.finished %}
        <div class="card-action valign-wrapper">
            <a href="#" type="submit" name="finish" class="col s12 center-align">Finish</a>
        </div>
    {% endif %}
    {% material_todo_reveal %}
</div>