{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}
{% load filter %}

{% block content %}
    <div class="container center-vertically">
        <div class="row ">
            <div class="col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="active"><a href="#placement" role="tab" data-toggle="tab">{% trans 'Internship tab' %}</a></li>
                    <li><a href="#thesis" role="tab" data-toggle="tab">{% trans 'Thesis tab' %}</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="placement">
                        <div class="alert {{ placement.state|state_css }}" role="alert">{% trans 'State: ' %} {{ placement.state|state }} </div>

                        <form enctype="multipart/form-data" action="{% url 'student-placement-update' %}" method="post" class="form">
                            {% csrf_token %}
                            {% bootstrap_form placement_form %}
                            {#                            {% bootstrap_form_errors placement_event_form %}#}
                            {% bootstrap_form placement_company_form %}
                            {% bootstrap_formset placement_company_formset %}
                            <h3>{% trans 'Contact-Data placement' %}</h3>
                            {% bootstrap_formset placement_contact_formset %}
                            {#                                                        {% bootstrap_form placement_event_form %}#}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    {% trans 'Finish' %}
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                    <div class="tab-pane" id="thesis">
                        TEST TEST TEST TEST TEST
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
