{% extends request.is_ajax|yesno:'base_ajax.html,base_portal.html' %}
{% load staticfiles %}
{% load material %}

{% block material_content %}
    <div class="card">
        <div class="card-header">
            <span class="card-title blue-grey-text">{{ object.student }} - Thesis<br/><small>{{ object.from_student.course }}</small></span>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col s12">
                    <p>{{ object.description|linebreaksbr }}</p>
                </div>
            </div>
            <div class="row grey lighten-5">
                <div class="col s12 m8">
                    <b>{{ object.workcompany.company }}</b>
                    <ul>
                        <li><i> {{ object.workcompany.description|linebreaksbr }}</i></li>
                    </ul>
                </div>
                <div class="col s12 m4">
                    <b>{{ object.workcompany.companycontactdata.title }} {{ object.workcompany.companycontactdata.first_name }} {{ object.thesis.workcompany.companycontactdata.last_name }}</b>
                    <ul>
                        <li><i class="mdi-content-mail lar"></i> <a
                                href="mailto:{{ object.workcompany.companycontactdata.email }}"> {{ object.workcompany.companycontactdata.email }}</a>
                        </li>
                        <li>
                            <i class="mdi-communication-phone"></i> {{ object.workcompany.companycontactdata.phone }}
                        </li>
                    </ul>
                </div>
            </div>

            {% material_divider %}
            <div class="row">
                <div class="col s12 m6">
                    <label class="center">1. Tutor</label>
                    <h6>{{ thesis.mentoring.tutor_1 }}</h6>
                    <ul>
                        <li><i class="mdi-content-mail"></i> <a
                                href="mailto:{{ object.mentoring.tutor_1.user.email }}"> {{ object.mentoring.tutor_1.user.email }}</a>
                        </li>
                        <li><i class="mdi-communication-phone"></i> {{ object.mentoring.tutor_1.phone }}
                        </li>
                    </ul>
                </div>
                <div class="col s12 m6">
                    <label class="center">2. Tutor</label>
                    <h6>{{ thesis.mentoring.tutor2contactdata.contact }}</h6>
                    <ul>
                        <li><i class="mdi-content-mail"></i> <a
                                href="mailto:{{ object.mentoring.tutor2contactdata.contact.email }}"> {{ object.mentoring.tutor2contactdata.contact.email }}</a>
                        </li>
                        <li>
                            <i class="mdi-communication-phone"></i> {{ object.mentoring.tutor2contactdata.contact.phone }}
                        </li>
                    </ul>
                </div>
            </div>
            {% material_divider %}
            <div class="row">
                <div class="col s6">
                    <a href="{{ MEDIA_URL }}{{ object.report }}" class="fancybox fancybox.iframe">
                        <div class="card">
                            <div class="card-header">
                                <span class="card-title blue-grey-text">Report</span>
                            </div>
                            <div class="card-content green-text center-align"><i
                                    class="mdi-file-cloud-done large"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s6">
                    <a href="{{ MEDIA_URL }}{{ object.poster }}" class="fancybox fancybox.iframe">
                        <div class="card">
                            <div class="card-header">
                                <span class="card-title blue-grey-text">Poster</span>
                            </div>
                            <div class="card-content green-text center-align">
                                <i
                                        class="mdi-file-cloud-done large"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}