{% load material %}
<ul id="dropdown_placement" class="dropdown-content">
    <li><a href="{% url 'student-placement-update' %}"
           class="fancybox fancybox.iframe edit_form">{{ edit_form }}</a>
    </li>
    {% if placement.student.placement_set.all|length > 1 %}
        <li><a href="{% url 'student-placement-delete' placement.pk %}"
                >{{ delete }}</a>
        </li>
    {% endif %}
</ul>
<div class="card todo-list">
    {% material_card_header title=placement_title_new actions='dropdown_placement' %}


    <div class="card-content">
        {% material_todo_formfields placement_form exclude='public' %}
        {% material_todo_item_begin %}
        {% material_todo_item_activator id='id_placement_company_todo' label=company %}
        <div class="input-group hide col s12">
            {% material_form placement_company_form %}
            {% material_formset placement_company_formset %}
        </div>
        {% material_todo_item_end %}


        {% material_todo_item_begin %}
        {% material_todo_item_activator id='id_placement_workcompany_todo' label=contactdata %}
        <div class="input-group hide col s12">
            {% material_formset placement_contact_formset %}
        </div>
        {% material_todo_item_end %}

        {% material_todo_item_begin %}
        {% material_todo_item_activator id='id_placement_event_todo' label=event %}
        <div class="input-group hide col s12">
            {% material_form placement_event_form %}
        </div>
        {% material_todo_item_end %}


        {% material_formfield placement_form.public %}

    </div>
    <div class="card-action valign-wrapper">
        <a href="#" type="submit" name="finish" class="col s12 center-align">{{ finish }}</a>
    </div>
    {% material_todo_reveal %}
</div>