{% load material %}
{% load filter %}
{% load i18n %}

{% if thesis == thesis.student.studentactivethesis.thesis %}

    <ul id="dropdown_thesis" class="dropdown-content">
        <li>
            <a href="{% url 'student-thesis-mentoringrequest-update' %}"
               class="fancybox fancybox.iframe">{{ edit_form }}</a>
        </li>
        {% if thesis.student.thesis_set.all|length > 1 %}
            <li><a href="{% url 'student-thesis-delete' thesis.pk %}"
                    >{{ delete }}</a>
            </li>
        {% endif %}
    </ul>
{% endif %}

<form action="{% url 'student-thesis-mentoringrequest-update' %}">
    {% csrf_token %}

    <div class="card todo-list">

        {% material_card_header title=mr_title actions='dropdown_thesis' %}

        <div class="card-content">
            {% material_todo_formfields thesis_mentoringrequest_form %}
            {% material_todo_item_begin %}

            {% trans 'Company thesis' as cp %}
            {% material_todo_item_activator id='id_mentoringrequest_company_todo' label=cp %}
            <div class="input-group hide col s12">
                {% material_form thesis_mentoringrequest_company_form %}
                {% material_formset thesis_mentoringrequest_company_formset %}
            </div>
            {% material_todo_item_end %}


            {% material_todo_item_begin %}

            {% trans 'Contact-Data thesis' as cd %}
            {% material_todo_item_activator id='id_mentoringrequest_workcompany_todo' label=cd %}
            <div class="input-group hide col s12">
                {% material_formset thesis_mentoringrequest_contact_formset %}
            </div>
            {% material_todo_item_end %}


            {% material_todo_item_begin %}
            {% trans 'Contact-Data professor thesis' as cd2 %}
            {% material_todo_item_activator id='id_mentoringrequest_mentoringrequest_todo' label=cd2 %}
            <div class="input-group hide col s12">
                {% material_form thesis_mentoringrequest_student_form %}
            </div>
            {% material_todo_item_end %}

        </div>

        {% if thesis == thesis.student.studentactivethesis.thesis %}
            <div class="card-action valign-wrapper">
                <a href="#" type="submit" name="finish" class="col s12 center-align">{% trans 'Request' %}</a>
            </div>
        {% endif %}
        {% material_todo_reveal %}
    </div>
</form>