{% load material %}
{% load i18n %}
{% load filter %}

<ul id="dropdown_thesis" class="dropdown-content">
    <li><a href="{% url 'thesis-preview' %}" class="fancybox fancybox.iframe">{{ preview }}</a></li>
    <li><a href="{% url 'student-thesis-mentoringrequest-update-todo' %}?editMode=true"
           class="reload">{{ edit_form }}</a>
    </li>
</ul>

<div class="card todo-list">
    <div class="card-header red white-text">
        <div class="card-title">{% trans 'Mentoring' %}</div>
    </div>
    <div class="card-content">
        <div class="row">
            <div class="col s12 m6">
                <ul>
                    <li>
                        <i class="mdi-social-person"></i>&emsp;{{ thesis.mentoringrequest.tutor_email|safe }}
                    </li>
                    <li><i class="mdi-content-send"></i>&emsp;{{ thesis.mentoringrequest.requested_on|date:"D d M Y" }}
                    </li>
                    <li><i class="mdi-communication-import-export"></i>&emsp;{{ thesis.mentoringrequest.state|state }}
                    </li>
                </ul>
            </div>
            <div class="col s12 m6">
                <label>{% trans 'Answer from' %} {{ thesis.mentoringrequest.tutor_email }}</label>
                <blockquote>{{ thesis.mentoringrequest.answer }}</blockquote>
            </div>
        </div>
    </div>
</div>