{% load material %}
{% load i18n %}
{% load filter %}
{% trans 'Placement' as placement_title %}
{% trans 'Placement new' as placement_title_new %}
{% trans 'Edit in Form' as edit_form %}
{% trans 'Finish' as finish %}
{% trans 'Preview' as preview %}
{% trans 'For course' as for_course %}
{% trans 'company placement' as company %}
{% trans 'Contact-Data placement' as contactdata %}
{% trans 'Event placement' as event %}
{% trans 'Delete' as delete %}


{% if placement.state == 'NR' %}
    {% include 'student_placement_widget_nr.html' %}
{% elif placement.state == 'RE' %}
    {% include 'student_placement_widget_re.html' %}
{% elif placement.state == 'AC' %}
    {% include 'student_placement_widget_ac.html' %}
{% else %}
    {% include 'student_placement_widget_de.html' %}
{% endif %}
