{% load material %}
<div class="card">
    <div class="picker__box">
        <div class="picker__date-display">
            <div class="card-header left-align">
                <span class="card-title">Colloquium</span>
            </div>
            {% if request.user.portaluser.student.thesis.mentoring.colloquium.date %}
                <div class="picker__weekday-display">
                    {{ request.user.portaluser.student.thesis.mentoring.colloquium.date|date:"l" }}</div>
                <div class="picker__month-display">
                    <div>
                        {{ request.user.portaluser.student.thesis.mentoring.colloquium.date|date:"N" }}</div>
                </div>
                <div class="picker__day-display">
                    <div>
                        {{ request.user.portaluser.student.thesis.mentoring.colloquium.date|date:"d" }}</div>
                </div>
                <div class="picker__year-display">
                    <div>
                        {{ request.user.portaluser.student.thesis.mentoring.colloquium.date|date:"Y" }}</div>
                </div>
                <div class="picker__weekday-display">
                    <div class="col s6 right-align">
                        <i class="mdi-device-access-time"></i> {{ request.user.portaluser.student.thesis.mentoring.colloquium.time|date:"H:i" }}
                    </div>
                    <div class="col s6 left-align">

                        <i class="mdi-communication-business"></i> {{ request.user.portaluser.student.thesis.mentoring.colloquium.room }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>