{% load material %}
{% load i18n %}

<ul id="dropdown_thesis" class="dropdown-content">
    {% if not thesis.documents_finished %}
        <li><a href="{% url 'student-thesis-documents-update' %}"
               class="fancybox fancybox.iframe edit_form">{% trans 'Edit in Form' %}</a></li>
    {% else %}
        <li><a href="{% url 'student-thesis-documents-preview' %}"
               class="fancybox fancybox.iframe">{% trans 'Preview' %}</a></li>
        <li><a href="{% url 'student-thesis-documents-update-todo' %}?editMode=true"
               class="reload">{% trans 'Edit Mode' %}</a></li>
    {% endif %}
</ul>

<div class="card todo-list">

    {% if not thesis.documents_finished %}
        {% trans 'Thesis' as t %}
        {% material_card_header title=t actions='dropdown_thesis' %}
    {% else %}
        <div class="card-header green white-text">
            <div class="card-title">
                <a href="{% url 'student-thesis-documents-preview' %}"
                   class="fancybox fancybox.iframe white-text">{% trans 'Thesis' %}
                    <i
                            class="mdi-action-done-all"></i></a>
            </div>
            <div class="actions">
                <a href="{% url 'student-thesis-documents-update-todo' %}?editMode=true" class="reload"><i
                        class="mdi-editor-border-color white-text"></i></a>
                <a href="{% url 'student-thesis-documents-preview' %}" class="fancybox fancybox.iframe"><i
                        class="mdi-av-my-library-books white-text"></i></a></div>
        </div>
    {% endif %}

    <div class="card-content{% if thesis.documents_finished %} hide{% endif %}">
        {% material_todo_formfields thesis_documents_form %}
    </div>
    {% if not thesis.documents_finished %}
        <div class="card-action valign-wrapper">
            <a href="#" type="submit" name="finish" class="col s12 center-align">{% trans 'Finish' %}</a>
        </div>
    {% endif %}
    {% material_todo_reveal %}
</div>