{% load material %}
{% load i18n %}
{% load filter %}

<div class="card todo-list">
    <div class="card-header red white-text">
        <div class="card-title">
            <a href="{% url 'student-placement-preview' placement.pk %}"
               class="fancybox fancybox.iframe white-text">{{ placement_title }} {{ for_course }} {{ placement.course }}
                <i
                        class="mdi-action-done"></i><br/>
            </a></div>
        <div class="actions">
            <a href="{% url 'student-placement-editable' placement.pk %}"><i
                    class="mdi-editor-border-color white-text"></i></a>
            <a href="{% url 'student-placement-preview' placement.pk %}" class="fancybox fancybox.iframe"><i
                    class="mdi-av-my-library-books white-text"></i></a></div>
    </div>

    {% include 'student_placement_widget_content.html' %}

</div>