{% extends request.is_ajax|yesno:"base_ajax.html,base_portal.html" %}
{% load material %}
{% load i18n %}
{% block material_content %}
    <div class="card">
        {% trans 'Thesis' as t %}
        {% material_card_header title=t %}

        <div class="card-content">
            <form enctype="multipart/form-data" action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col s12">
                        {% material_formfield thesis_documents_form.description %}
                    </div>
                    <div class="col s12">
                        <label>{% trans 'report thesis' %}</label>
                        {% material_formfield thesis_documents_form.report %}
                    </div>
                    <div class="col s12">
                        <label>{% trans 'poster thesis' %}</label>
                        {% material_formfield thesis_documents_form.poster %}
                    </div>
                </div>
            </form>

        </div>
        <div class="card-action valign-wrapper">
            <input type="submit">
        </div>

    </div>

{% endblock %}