{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}
{% load filter %}

{% block head %}
    <script src="{% static 'js/datepicker.js' %}"></script>
{% endblock %}


{% block content %}
    <!-- Details zum Praktikum -->
    <div class="container center-vertically">
        <div class="row ">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">{% trans 'Placement' %}</h1>
                    </div>

                    <div class="panel-body">
                        <!-- Formular -->
                        <form enctype="multipart/form-data" action="" method="post" class="form">
                            {% csrf_token %}

                            <div class="form-group">
                                <label>{% trans 'Student' %}</label>
                                <p>{{ form.instance.student }}</p>
                            </div>

                            {% bootstrap_field form.task bound_css_class=' ' %}
                            <div class="form-group">
                                <label class="control-label" for="id_date_from">Praktikumsbeginn</label>
                                <input class="form-control datepicker" id="id_date_from" name="date_from" placeholder="Praktikumsbeginn" title="" type="text"
                                        {% if form.instance.date_from %}
                                       value="{{ form.instance.date_from|date:"d.m.Y" }}"
                                        {% endif %}
                                >
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="id_date_to">Praktikumsende</label>
                                <input class="form-control datepicker" id="id_date_to" name="date_to" placeholder="Praktikumsende" title="" type="text"
                                        {% if form.instance.date_to %}
                                       value="{{ form.instance.date_to|date:"d.m.Y" }}"
                                        {% endif %}
                                >
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="id_report">{% trans 'Placement report' %}</label>
                                <div class="row bootstrap3-multi-input">
                                    <div class="col-xs-12">
                                        {% if form.instance.report %}
                                            {% trans 'Currently' %}:
                                            <a href="{{ form.instance.report.url }}">{{ form.instance.report }}</a>
                                            <input id="report-clear_id" name="report-clear" type="checkbox">
                                            <label for="report-clear_id">{% trans 'Reset' %}</label>
                                            </br>
                                        {% endif %}
                                        <input class="" id="id_report" name="report" title="" type="file"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="id_certificate">{% trans 'Placement certificate' %}</label>
                                <div class="row bootstrap3-multi-input">
                                    <div class="col-xs-12">
                                        {% if form.instance.certificate %}
                                            {% trans 'Currently' %}:
                                            <a href="{{ form.instance.certificate.url }}">{{ form.instance.certificate }}</a>
                                            <input id="certificate-clear_id" name="certificate-clear" type="checkbox">
                                            <label for="certificate-clear_id">{% trans 'Reset' %}</label>
                                            </br>
                                        {% endif %}
                                        <input class="" id="id_certificate" name="certificate" title="" type="file"></div>
                                </div>
                            </div>
                            {% bootstrap_field form.company_name bound_css_class=' ' %}
                            {% bootstrap_field form.company_address bound_css_class=' ' %}

                            {% buttons %}
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    {% trans 'Update' %}
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
