{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}
{% load filter %}
{% load template_tags %}

{% block content %}
    <div class="center-vertically">
        <div class="row ">
            <div class="col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="active"><a href="#placement" role="tab" data-toggle="tab">{% trans 'Internship tab' %}</a></li>
                    <li><a href="#thesis" role="tab" data-toggle="tab">{% trans 'Thesis tab' %}</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="placement">

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <thead>
                                <tr>
                                    {% sort_th "First name" "student__user__first_name" %}
                                    {% sort_th "Last name" "student__user__last_name" %}
                                    {% sort_th "Matriculation number" "student__matriculation_number" %}
                                    {% sort_th "Email" "student__user__email" %}
                                    {% sort_th "State" "state" %}
                                    <th>{% trans 'Mentoring accepted' %}</th>
                                    <th>{% trans 'Passed' %}</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for placement in placements %}
                                    <tr>
                                        <td>{{ placement.student.user.first_name }}</td>
                                        <td>{{ placement.student.user.last_name }}</td>
                                        <td>{{ placement.student.matriculation_number }}</td>
                                        <td>{{ placement.student.user.email }}</td>
                                        <td>{{ placement.state|state }}</td>
                                        <td><input type="checkbox" {{ placement.state|state_checked|default_if_none:"" }}></td>
                                        <td><input type="checkbox" {{ placement.state|state_checked|default_if_none:"" }}></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane" id="thesis">
                        TEST TEST TEST TEST TEST
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
