{% load material %}
{% load filter %}
{% load i18n %}


{% for course in object_list %}

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'tutor-placement-course' course.pk %}" class="fancybox fancybox.iframe">
                        <span class="card-title blue-grey-text">{{ course }}</span>
                    </a>

                    <div class="actions">
                        <a href="{% url 'tutor-placement-course-addevent' course.pk %}"
                           class="fancybox fancybox.iframe"><i
                                class="mdi-content-add medium"></i></a>
                        <a href="{% url 'tutor-placement-course' course.pk %}" class="fancybox fancybox.iframe"><i
                                class="mdi-av-my-library-books"></i></a>
                    </div>
                </div>
                <div class="card-content">
                    <div class="col s12 m6">
                        <ul>
                            <li>
                                <i class="mdi-action-event"></i>&emsp;{{ course.placementevent_set.all|date_future|length }} {% trans 'Event future' %}
                            </li>
                            <li>
                                <i class="mdi-action-event"></i>&emsp;{{ course.placementevent_set.all|date_past|length }} {% trans 'Event past' %}
                            </li>
                        </ul>
                    </div>
                    <div class="col s12 m6">
                        <ul>
                            <li>
                                <i class="mdi-social-people"></i>&emsp;{{ course.placementevent_set.all|placementeventregistration|length }}
                            </li>
                            <li><i
                                    class="mdi-action-done-all"></i>&emsp;{{ course.placementevent_set.all|placementeventregistration:True|length }}
                            </li>
                            <li><i
                                    class="mdi-action-trending-up"></i>&emsp;{{ course.placementevent_set.all|placementeventregistration:False|length }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% empty %}
    <small class="center-align col s12">{% trans 'no placement courses' %}</small>
{% endfor %}
