{% extends request.is_ajax|yesno:"base_ajax.html,base_portal.html" %}
{% load material %}
{% load filter %}
{% load i18n %}
{% block material_content %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-header">
                    <span class="card-title blue-grey-text">{% trans 'Placement course registrations' %} {{ object.event }}</span>
                </div>
                <div class="card-content">
                    <div class="collection">
                        {% for registration in object_list|dictsort:'confirmed' %}
                            <div class="collection-item">
                                <div class="row">
                                    <div class="col s12 m6">
                                        {% with student=registration.placement.student course=registration.placement.course %}
                                            {% include 'student_contactdata_widget.html' %}
                                        {% endwith %}
                                    </div>
                                    <div class="col s12 m6">
                                        <ul>
                                            <li><b>{{ registration.placement.workcompany.company }}</b></li>
                                        </ul>
                                        {% with companycontactdata=registration.placement.workcompany.companycontactdata %}
                                            {% include 'companycontactdata_widget.html' %}
                                        {% endwith %}
                                    </div>

                                    <div class="col s12 ">

                                        <ul>
                                            <li>
                                                <a href="{% url 'tutor-placement-preview' registration.placement.pk %}"
                                                   class="fancybox fancybox.iframe"> <i
                                                        class="mdi-av-my-library-books"></i> {% trans 'Preview placement' %}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ MEDIA_URL }}{{ registration.placement.report }}"
                                                   class="fancybox fancybox.iframe"> <i
                                                        class="mdi-file-cloud-done"></i> {% trans 'Report placement' %}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ MEDIA_URL }}{{ registration.placement.presentation }}"
                                                   class="fancybox fancybox.iframe"> <i
                                                        class="mdi-file-cloud-done"></i> {% trans 'Presentation placement' %}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ MEDIA_URL }}{{ registration.placement.certificate }}"
                                                   class="fancybox fancybox.iframe"> <i
                                                        class="mdi-file-cloud-done"></i> {% trans 'Certificate placement' %}
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                {% if not registration.confirmed %}
                                    <div class="card-action acceptdeny">
                                        <form action="{% url 'tutor-placement-confirm' registration.pk %}"
                                              method="post">
                                            {% csrf_token %}
                                            <div class="col s6 green valign-wrapper">
                                                <input type="submit" name="submit"
                                                       value="{% trans 'Accept placement' %}"
                                                       class="white-text"/>
                                            </div>
                                            <div class="col s6 red white-text valign-wrapper">
                                                <input type="submit" name="submit" value="{% trans 'Deny placement' %}"
                                                       class="white-text"/>
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>

                        {% empty %}
                            {% trans 'no events' %}
                        {% endfor %}


                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}