{% extends request.is_ajax|yesno:'base_ajax.html,base_portal.html' %}
{% load material %}
{% load filter %}

{% block material_content %}
    {# BEGIN MENTORING REQUESTS  #}
    <div class="row">
        <div class="col s12">

            <ul id="dropdown_requests" class="dropdown-content">
                <li><a href="{% url 'tutor-requests' %}" class="fancybox fancybox.iframe">Show all</a></li>
            </ul>

            <div class="card">
                {% material_card_header title='Mentoring Requests' actions='dropdown_requests' %}
                <div class="card-content">
                    <ul class="collection">
                        {% for request in object.new_requests %}
                            <li class="collection-item row">
                                <a href="{% url 'tutor-request' request.pk %}" class="fancybox fancybox.iframe">
                                    <div class="request-message col s12">
                                        <span class="title">{{ request.from_student }}<br/><small>{{ request.from_student.course }}</small></span>

                                        <small class="right">{{ request.requested_on|date }}</small>
                                        <div class="divider">&nbsp;</div>
                                        <p class="request-desc">{{ request.comment }}</p>

                                        <p>&nbsp;</p>
                                        {% if not request.status == 'RE' %}
                                            <div class="col s12 center-align">
                                                {% if request.status == 'AC' %}
                                                    <small class="green-text">{{ request.status|state }}
                                                        on {{ request.mentoring.created_on|date }}</small>
                                                {% else %}
                                                    <small class="red-text">{{ request.status|state }}</small>
                                                    </div>
                                                {% endif %}
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                        {% empty %}
                            <small class="center-align col s12">no requests</small>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
    {# END MENTORING REQUESTS  #}
    {# BEGIN  MENTORINGS  #}
    <div class="row">
        <div class="col s12">

            <ul id="dropdown_mentorings" class="dropdown-content">
                <li><a href="{% url 'tutor-mentorings' %}" class="fancybox fancybox.iframe">Show all</a></li>
            </ul>

            <div class="card">
                {% material_card_header title='Mentoring' actions='dropdown_mentorings' %}
                <div class="card-content">
                    <ul class="collection">
                        {% for mentoring in object.mentorings %}
                            <li class="collection-item row">
                                <div class="request-message col s12">
                                    <a href="{% url 'tutor-mentoring' mentoring.pk %}" class="fancybox fancybox.iframe">
                                        <span class="title"><b>{{ mentoring.thesis.student }}</b><br/><small>{{ mentoring.thesis.student.course }}</small></span>

                                        <small class="right">{{ mentoring.created_on|date }}</small>
                                        <div class="divider">&nbsp;</div>
                                        <p class="request-desc">{{ mentoring.thesis.registration.subject }}</p>

                                        <div class="row"></div>
                                    </a>
                                    <ul class="lv-attrs">
                                        <li>2. Tutor: {{ mentoring.tutor2contactdata }}</li>
                                        <li>
                                            <a href="{% url 'tutor-mentoring-report' mentoring.pk %}"
                                               class="fancybox fancybox.iframe">
                                                Report: {{ mentoring.mentoringreport.items|length }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'tutor-mentoring-colloquium' mentoring.thesis.registration.pk %}"
                                               class="fancybox fancybox.iframe">
                                                Colloquium: {{ mentoring.colloquium.date|date }}</a></li>
                                        <li>
                                            <a href="{% url 'thesis-registration-examinationboard' mentoring.thesis.registration.pk %}"
                                               class="fancybox fancybox.iframe">Examination
                                                Board: {{ mentoring.thesis.registration.responseexaminationboard.stop_editing|date }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        {% empty %}
                            <small class="center-align col s12">no requests</small>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {# END  MENTORINGS  #}
{% endblock %}
{% block material_extra_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.fancybox').fancybox()
        })
    </script>
{% endblock %}