{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}
{% load filter %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.js"></script>

    <!-- DataTables-Plugin für Sortierbarkeit von Checkboxen | http://www.datatables.net/plug-ins/sorting/custom-data-source/dom-checkbox -->
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.10/sorting/custom-data-source/dom-checkbox.js"></script>

    <!-- DataTables-Plugin für Sortierbarkeit Input-Elementen | http://datatables.net/plug-ins/sorting/custom-data-source/dom-text -->
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.10/sorting/custom-data-source/dom-text.js"></script>

    <!-- DataTables-Plugin für Sortierbarkeit Select-Elementen | http://datatables.net/plug-ins/sorting/custom-data-source/dom-select -->
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.10/sorting/custom-data-source/dom-select.js"></script>

    <!-- DataTables-Konfiguration -->
    <script type="text/javascript" src="{% static 'js/tutor_index.js' %}"></script>

    <!-- Datepicker -->
    <script src="{% static 'js/datepicker.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="center-vertically">
        <div class="row ">
            <div class="col-sm-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li {% if not is_thesis %}class="active"{% endif %}><a href="#placement" role="tab" data-toggle="tab">{% trans 'Internship tab' %}</a></li>
                    <li {% if is_thesis %}class="active"{% endif %}><a href="#thesis" role="tab" data-toggle="tab">{% trans 'Thesis tab' %}</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane {% if not is_thesis %}active{% endif %}" id="placement">

                        <div class="table-responsive">
                            {% for placement in placements %}
                                <form method="POST" id="{{ placement.id }}" action="{% url 'tutor-placement-update' placement.id %}">
                                    {% csrf_token %}
                                </form>
                            {% endfor %}

                            <table id="placements-table" class="table table-striped table-bordered table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th class="wrap-column">{% trans 'comments' %}</th>
                                    <th class="wrap-column">{% trans 'Placement acknowledgement' %}</th>
                                    <th>{% trans 'First name' %}</th>
                                    <th>{% trans 'Last name' %}</th>
                                    <th>{% trans 'Matriculation number' %}</th>
                                    <th>{% trans 'Email' %}</th>
                                    <th>{% trans 'Seminars present' %}</th>
                                    <th>{% trans 'Presentation' %}</th>
                                    <th>{% trans 'mentoring accepted' %}</th>
                                    <th>{% trans 'Completed' %}</th>
                                    <th class="wrap-column">{% trans 'Save' %}</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for placement in placements %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'comments' placement.id %}" title="{% trans 'comments' %}">
                                                <button type="button" class="btn btn-default center-block"
                                                        {% if placement.comment_unread_by_tutor %}
                                                        style="background-color:#ffff80;"
                                                        {% endif %}
                                                >
                                                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'placement-pdf' placement.id %}" title="{% trans 'comments' %}">
                                                <button type="button" class="btn btn-default center-block">
                                                    <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                        </td>
                                        <td><a href="{% url 'placement-details' placement.id %}">{{ placement.student.user.first_name }}</a></td>
                                        <td><a href="{% url 'placement-details' placement.id %}">{{ placement.student.user.last_name }}</a></td>
                                        <td><a href="{% url 'placement-details' placement.id %}">{{ placement.student.matriculation_number }}</a></td>
                                        <td><a href="mailto:{{ placement.student.user.email }}">{{ placement.student.user.email }}</a></td>

                                        <td>
                                            {{ placement.student.placement_seminar_entries.all|length }}
                                        </td>
                                        <td>
                                            {{ placement.student.presentation_date.date|date:"d.m.Y" }}
                                        </td>
                                        <td>
                                            <select  {% if placement.mentoring_accepted == 'MD' or placement.mentoring_accepted == 'MA' %} disabled {% endif %}
                                                                                                                                           name="mentoring_accepted"
                                                                                                                                           form="{{ placement.id }}"
                                            >
                                                {% for state in mentoring_states %}
                                                    {% ifequal state.0 placement.mentoring_accepted %}
                                                        <option value="{{ state.0 }}" selected="selected">{% trans state.1 %}</option>
                                                    {% else %}
                                                        <option value="{{ state.0 }}">{% trans state.1 %}</option>
                                                    {% endifequal %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <input  {% if placement.mentoring_accepted == 'MD' %} disabled {% endif %}
                                                                                                  type="checkbox"
                                                                                                  name="completed"
                                                                                                  form="{{ placement.id }}"
                                                    {{ placement.completed|boolean_checked|default_if_none:"" }}
                                            >
                                        </td>
                                        <td>
                                            <button  {% if placement.mentoring_accepted == 'MD' %} disabled {% endif %}
                                                                                                   type="submit"
                                                                                                   class="btn btn-default center-block"
                                                                                                   form="{{ placement.id }}"
                                            >
                                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>{% trans 'Search' %} {% trans 'First name' %}</th>
                                    <th>{% trans 'Search' %} {% trans 'Last name' %}</th>
                                    <th>{% trans 'Search' %} {% trans 'Matriculation number' %}</th>
                                    <th>{% trans 'Search' %} {% trans 'Email' %}</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane {% if is_thesis %}active{% endif %}" id="thesis">
                        <div class="table-responsive">
                            {% for thesis in theses %}
                                <form method="POST" id="{{ thesis.id }}" action="{% url 'tutor-thesis-update' thesis.id %}">
                                    {% csrf_token %}
                                </form>
                            {% endfor %}
                            <table id="thesis-table" class="table table-striped table-bordered table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th class="wrap-column">{% trans 'comments' %}</th>
                                    <th>{% trans 'First name' %}</th>
                                    <th>{% trans 'Last name' %}</th>
                                    <th>{% trans 'Matriculation number' %}</th>
                                    <th>{% trans 'Email' %}</th>
                                    <th>{% trans 'mentoring accepted' %}</th>
                                    <th>{% trans 'Examination office state' %}</th>
                                    <th>{% trans 'Deadline' %}</th>
                                    <th>{% trans 'Grade first examiner' %}</th>
                                    <th>{% trans 'Grade second examiner' %}</th>
                                    <th>{% trans 'Grade presentation' %}</th>
                                    <th class="wrap-column">{% trans 'Save' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for thesis in theses %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'comments' thesis.id %}" title="{% trans 'comments' %}">
                                                <button type="button" class="btn btn-default center-block"
                                                        {% if thesis.comment_unread_by_tutor %}
                                                        style="background-color:#ffff80;"
                                                        {% endif %}
                                                >
                                                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                        </td>
                                        <td><a href="{% url 'thesis-details' thesis.id %}">{{ thesis.student.user.first_name }}</a></td>
                                        <td><a href="{% url 'thesis-details' thesis.id %}">{{ thesis.student.user.last_name }}</a></td>
                                        <td><a href="{% url 'thesis-details' thesis.id %}">{{ thesis.student.matriculation_number }}</a></td>
                                        <td><a href="mailto:{{ thesis.student.user.email }}">{{ thesis.student.user.email }}</a></td>
                                        <td>
                                            <select {% if thesis.mentoring_accepted == 'MD' or thesis.mentoring_accepted == 'MA' %} disabled {% endif %} name="mentoring_accepted"
                                                                                                                                    form="{{ thesis.id }}">
                                                {% for state in mentoring_states %}
                                                    {% ifequal state.0 thesis.mentoring_accepted %}
                                                        <option value="{{ state.0 }}" selected="selected">{% trans state.1 %}</option>
                                                    {% else %}
                                                        <option value="{{ state.0 }}">{% trans state.1 %}</option>
                                                    {% endifequal %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select {% if thesis.mentoring_accepted == 'MD' %} disabled {% endif %} name="examination_office_state" form="{{ thesis.id }}">
                                                {% for state in examination_office_states %}
                                                    {% ifequal state.0 thesis.examination_office_state %}
                                                        <option value="{{ state.0 }}" selected="selected">{% trans state.1 %}</option>
                                                    {% else %}
                                                        <option value="{{ state.0 }}">{% trans state.1 %}</option>
                                                    {% endifequal %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <input {% if thesis.mentoring_accepted == 'MD' %} disabled {% endif %} class="form-control datepicker" id="deadline{{ thesis.id }}" name="deadline" placeholder="{% trans 'Deadline' %}" type="text"
                                                    {% if thesis.deadline %} value="{{ thesis.deadline|date:"d.m.Y" }}"{% endif %} form="{{ thesis.id }}">
                                        </td>
                                        <td>
                                            <select {% if thesis.mentoring_accepted == 'MD' %} disabled {% endif %} name="grade_first_examiner" form="{{ thesis.id }}">
                                                {% for grade in grades %}
                                                    {% ifequal grade.0 thesis.grade_first_examiner %}
                                                        <option value="{{ grade.0 }}" selected="selected">{{ grade.1 }}</option>
                                                    {% else %}
                                                        <option value="{{ grade.0 }}">{{ grade.1 }}</option>
                                                    {% endifequal %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select {% if thesis.mentoring_accepted == 'MD' %} disabled {% endif %} name="grade_second_examiner" form="{{ thesis.id }}">
                                                {% for grade in grades %}
                                                    {% ifequal grade.0 thesis.grade_second_examiner %}
                                                        <option value="{{ grade.0 }}" selected="selected">{{ grade.1 }}</option>
                                                    {% else %}
                                                        <option value="{{ grade.0 }}">{{ grade.1 }}</option>
                                                    {% endifequal %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select {% if thesis.mentoring_accepted == 'MD' %} disabled {% endif %} name="grade_presentation" form="{{ thesis.id }}">
                                                {% for grade in grades %}
                                                    {% ifequal grade.0 thesis.grade_presentation %}
                                                        <option value="{{ grade.0 }}" selected="selected">{{ grade.1 }}</option>
                                                    {% else %}
                                                        <option value="{{ grade.0 }}">{{ grade.1 }}</option>
                                                    {% endifequal %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <button  {% if thesis.mentoring_accepted == 'MD' %} disabled {% endif %}
                                                                                                type="submit"
                                                                                                class="btn btn-default center-block"
                                                                                                form="{{ thesis.id }}"
                                            >
                                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th>{% trans 'Search' %} {% trans 'First name' %}</th>
                                    <th>{% trans 'Search' %} {% trans 'Last name' %}</th>
                                    <th>{% trans 'Search' %} {% trans 'Matriculation number' %}</th>
                                    <th>{% trans 'Search' %} {% trans 'Email' %}</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}