{% extends request.is_ajax|yesno:"base_ajax.html,base_portal.html" %}
{% load material %}
{% load i18n %}

{% block material_content %}
    <div class="card">
        <form action="" method="post">
            {% trans 'Settings Tutor' as st %}
            {% material_card_header title=st %}
            <div class="card-content">
                {% csrf_token %}

                {{ tutor_user_formset.management_form }}
                {% for form in tutor_user_formset.forms %}
                    {% material_formfield form.user %}
                    {% material_formfield form.title %}
                {% endfor %}
                {% material_formfield user_form.first_name %}
                {% material_formfield user_form.last_name %}

                {% for form in tutor_user_formset.forms %}
                    {% material_formfield form.phone %}
                    {% material_formfield form.placement_courses %}
                    {% material_formfield form.portaluser_ptr %}
                {% endfor %}

            </div>
            <div class="card-action valign-wrapper">

                <input type="submit" name="finalize" value="{% trans 'Finish' %}"/>
            </div>
        </form>
    </div>
{% endblock %}