{% extends request.is_ajax|yesno:"base_ajax.html,base_portal.html" %}
{% load material %}
{% load filter %}

{% block material_content %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-header">
                    <span class="card-title blue-grey-text">Mentoring Requests</span>
                </div>
                <div class="card-content">
                    <ul class="collection">
                        {% for mentoring in object_list %}
                            <li class="collection-item row">
                                <a href="{% url 'tutor-mentoring' mentoring.pk %}" class="fancybox fancybox.iframe">
                                    <div class="col s12">
                                        <span class="title">{{ mentoring.thesis.student }}</span>

                                        <div class="divider">&nbsp;</div>
                                        <small class="right">{{ request.requested_on|date }}</small>
                                        <p class="request-desc">{{ request.comment }}</p>

                                        <p>&nbsp;</p>
                                        {% if not request.status == 'RE' %}
                                            <div class="col s12 center-align">
                                                {% if request.status == 'AC' %}
                                                    <small class="green-text">{{ request.status|state }}
                                                        on {{ request.mentoring.created_on|date }}</small>
                                                {% else %}
                                                    <small class="red-text">{{ request.status|state }}</small>
                                                    </div>
                                                {% endif %}
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                        {% empty %}
                            <small class="center-align col s12">no requests</small>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block material_extra_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.fancybox').fancybox()
        })
    </script>
{% endblock %}