{% load material %}

<div class="card todo-list" id="report-card">
    <div class="card-header">
        <span class="card-title blue-grey-text">Report</span>
    </div>
    {% csrf_token %}
    <div class="card-content">
        {% material_form thesis_mentoringreport_form %}

        <div class="collection row">
            {{ thesis_mentoringreport_formset.management_form }}

            {% for form in thesis_mentoringreport_formset reversed %}

                <div class="collection-item">
                    <div class="col s12 m2">{{ form.instance.created_on|date }}{{ form.id }}</div>
                    <div class="col s12{% if form.instance.pk %} m10{% endif %}">{% material_formfield form.subject %}</div>
                    <div class="col s12{% if form.instance.pk %} m10 offset-m2{% endif %}">{% material_formfield form.message %}</div>
                    {% if form.instance.pk %}
                        <div class="col s12 m10 offset-m2">{% material_formfield form.DELETE %}</div>{% endif %}
                </div>
                {% if not form.instance.pk %}
                    <div class="card-action valign-wrapper" style="border-bottom: 1px solid rgba(160, 160, 160, 0.2);">
                        <a href="#" type="submit" name="finish" class="col s12 center-align">Save</a>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
</div>