{% extends request.is_ajax|yesno:"base_ajax.html,base_portal.html" %}
{% load material %}
{% load filter %}
{% load i18n %}
{% block material_content %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <form action="" method="post">
                    <div class="card-header">
                        <span class="card-title blue-grey-text">{% trans 'Placement course add' %}</span>
                    </div>
                    <div class="card-content">
                        {% csrf_token %}
                        {% material_form form %}
                    </div>
                    <div class="card-action valign-wrapper">
                        <input type="submit">
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}