{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row ">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">{% trans 'Settings' %}</h1>
                    </div>

                    <div class="panel-body">
                        <form action="{% url 'tutor-settings' %}" method="post" class="form">
                            {% csrf_token %}

                            {{ tutor_user_formset.management_form }}
                            {% for form in tutor_user_formset.forms %}
                                {% bootstrap_field form.user %}
                                {% bootstrap_field form.title %}
                            {% endfor %}
                            {% bootstrap_field user_form.first_name %}
                            {% bootstrap_field user_form.last_name %}
                            {% bootstrap_field user_form.email %}

                            {% for form in tutor_user_formset.forms %}
                                {% bootstrap_field form.phone %}
                                {% bootstrap_field form.portaluser_ptr %}
                            {% endfor %}

                            {% buttons %}
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    {% trans 'Finish' %}
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}