{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}
{% load filter %}

{% block head %}
    <script src="{% static 'js/datepicker.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- Details zum Praktikum -->
    <div class="container center-vertically">
        <div class="row ">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% elif  message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% else %}alert-info{% endif %} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">{% trans 'Placement' %}</h1>
                    </div>

                    <div class="panel-body">
                        <!-- Formular -->
                        <form enctype="multipart/form-data" action="" method="post" class="form">
                            {% csrf_token %}

                            <div class="form-group">
                                <label>{% trans 'Student' %}</label>
                                <p>{{ placement_form.instance.student }}</p>
                            </div>

                            {% bootstrap_field placement_form.task %}
                            <div class="form-group">
                                <label class="control-label" for="id_date_from">{% trans 'internship begin' %}</label>
                                <input class="form-control datepicker" id="id_date_from" name="placement_form-date_from" title="" type="text"
                                        {% if placement_form.instance.date_from %}
                                       value="{{ placement_form.instance.date_from|date:"d.m.Y" }}"
                                        {% endif %}
                                >
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="id_date_to">{% trans 'internship end' %}</label>
                                <input class="form-control datepicker" id="id_date_to" name="placement_form-date_to" title="" type="text"
                                        {% if placement_form.instance.date_to %}
                                       value="{{ placement_form.instance.date_to|date:"d.m.Y" }}"
                                        {% endif %}
                                >
                            </div>
                            <div class="form-group">
                                <label class="control-label">{% trans 'Placement report' %}</label>
                                <div class="row">
                                    <div class="col-xs-12">
                                        {% if placement_form.instance.report %}
                                            <a href="{{ placement_form.instance.report.url }}">{{ placement_form.instance.report }}</a>
                                        {% else %}
                                            <p>-</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% bootstrap_field placement_form.report_accepted %}
                             <div class="form-group">
                                <label class="control-label">{% trans 'Placement certificate' %}</label>
                                <div class="row">
                                    <div class="col-xs-12">
                                        {% if placement_form.instance.certificate %}
                                            <a href="{{ placement_form.instance.certificate.url }}">{{ placement_form.instance.certificate }}</a>
                                        {% else %}
                                            <p>-</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% bootstrap_field placement_form.certificate_accepted %}
                            {% bootstrap_field placement_form.company_name %}
                            {% bootstrap_field placement_form.company_address %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h1 class="panel-title">{% trans 'Contact person in the company' %}</h1>
                                </div>
                                <div class="panel-body">
                                    {% bootstrap_formset placement_contact_formset %}
                                </div>
                            </div>
                            {% buttons %}
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    {% trans 'Update' %}
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
