{% extends request.is_ajax|yesno:"base_ajax.html,base_portal.html" %}
{% load material %}
{% load filter %}
{% load i18n %}

{% block material_content %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-header">
                    <span class="card-title blue-grey-text">{% trans 'Mentoring Requests' %}</span>
                </div>
                <div class="card-content">
                    <ul class="collection">
                        {% for request in object_list %}
                            <li class="collection-item row">
                                <a href="{% url 'tutor-request' request.pk %}"
                                   class="fancybox fancybox.iframe edit_form">
                                    <div class="request-message col s12">
                                        <span class="title">{{ request.from_student }}</span>

                                        <small class="right">{{ request.requested_on|date }}</small>
                                        <div class="divider">&nbsp;</div>
                                        <p class="request-desc">{{ request.comment }}</p>

                                        <p>&nbsp;</p>
                                        {% if not request.state == 'RE' %}
                                            <div class="col s12 center-align">
                                                {% if request.state == 'AC' %}
                                                    <small class="green-text">{{ request.state|state }}
                                                        on {{ request.mentoring.created_on|date }}</small>
                                                {% else %}
                                                    <small class="red-text">{{ request.state|state }}</small>
                                                    </div>
                                                {% endif %}
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                        {% empty %}
                            <small class="center-align col s12">{% trans 'no requests' %}</small>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}