/**
 * Created by ullmanfa on 11.05.15.
 */

.btn-float {
    line-height: 50px;
}

/* custom background-color-settings */

.collection .collection-item.active,
span.badge.new,
.progress .determinate,
.progress .indeterminate,
.btn, .btn-large,
.btn-floating,
[type="radio"]:checked + label:after,
[type="checkbox"].filled-in:checked + label:after,
.switch label input[type=checkbox]:checked + .lever:after,
input[type=range] + .thumb,
input[type=range]::-webkit-slider-thumb,
.picker__date-display,
.picker__weekday-display,
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected,
nav {
    background-color: #0095cc;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #00ace6;
}

body.login-body:before {
    background-color: #0095cc;
    background-size: 300px;
    background-image: url("../img/logo_fhb.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/* custom color-settings */

.dropdown-content li > a,
.collection a.collection-item,
.dropdown-content li > span,
.secondary-content,
.input-field .prefix.active,
input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label,
[type="radio"].with-gap:checked + label:after,
input[type=range] + .thumb .value,
.picker__day.picker__day--today,
.picker__close, .picker__today {
    color: #0095cc;
}

/* costom border */

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after,
[type="checkbox"].filled-in:checked + label:after,
{
    border: 2px solid #0095cc;
}

[type="checkbox"]:checked + label:before {
    border-right: 2px solid #0095cc;
    border-bottom: 2px solid #0095cc;

}

[type="checkbox"]:indeterminate + label:before {
    border-right: 2px solid #0095cc;

}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #0095cc;
    box-shadow: 0 1px 0 0 #0095cc;
}

.todo-item input[type=checkbox]:checked + label {
    text-decoration-color: #0095cc;
}

body.login-body:before, nav a.brand-logo {
    background-image: url("../img/logo_fhb.svg");
    background-repeat: no-repeat;
    background-position: center;
}

nav a.brand-logo {
    height: 100%;
    width: 150px;
    background-size: 150px;
}

a.disabled {
    cursor: not-allowed;
}

.collection-item {
    overflow: hidden;
}

.collection-item p.request-desc {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 100%;
    height: 2em; /* Fallback for non-webkit */
    margin: 0 auto;
    line-height: 1em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    cursor: default;
}

.collection-item .request-action a {
    height: 50%;
}

.collection-item a {
    color: #607d8b;
}

.card-action.acceptdeny {
    padding: 0;
    margin: 0 -0.75rem;
}

.card-action.acceptdeny > div {
    min-height: 40px;
}

.card-action.acceptdeny > div > div {
    margin: auto;
}

.card-action.acceptdeny a {
    color: white;
    cursor: pointer;

}

.card .card-action a, .card .card-action input {
    color: #ffab40;
    margin-right: 20px;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    -ms-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
}

.card .card-action a, .card .card-action input {
    background: none !important;
    border: none;
    padding: 0 !important;
    margin: auto;
    text-transform: uppercase;
}

.collection-item .lv-attrs {
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
}

.collection-item .lv-attrs > li:not(.info):not(.primary):not(.warning):not(.danger) {
    border: 1px solid #dedede;
    background: #fff;
    color: #5e5e5e;
}

.collection-item .lv-attrs > li {
    display: inline-block;
    padding: 2px 10px 3px;
    font-size: 12px;
    margin-top: 5px;
    margin-right: 2px;
}

@media only screen and (max-width: 992px) {
    nav .brand-logo, nav .brand-logo.center {
        left: inherit;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        background-size: contain !important;
        width: 100px !important;
    }

    nav ul a {
        font-size: 1rem;
        color: #fff;
        display: block;
        padding: 0 5px;
    }
}

.card .card-header {
    position: relative;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}

.tab-nav {
    list-style: none;
    padding: 0;
    white-space: nowrap;
    margin: 0;
    overflow: auto;
    box-shadow: inset 0 -2px 0 0 #eeeeee;
}

.tab-nav > li {
    display: inline-block;
    vertical-align: top;
}

.tab-nav > li > a {
    display: inline-block;
    color: #7a7a7a;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    -webkit-transition: all;
    -moz-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    font-weight: 500;
}

.tab-nav > li > a:after {
    content: "";
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    -webkit-transition: all;
    -moz-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

@media (min-width: 768px) {
    .tab-nav > li > a {
        padding: 10px 15px 12px;
    }
}

@media (max-width: 768px) {
    .tab-nav > li > a {
        padding: 10px 8px 12px;
    }

    .container {
        padding: 0;
    }

    .card .card-content {
        padding: 10px;
    }

    body.login-body:before {
        background-size: 200px;
    }
}

.tab-nav > li.active > a {
    color: #000;
}

.tab-nav > li.active > a:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.tab-nav.tab-nav-right {
    text-align: right;
}

.tab-nav.tn-justified > li {
    display: table-cell;
    width: 1%;
    text-align: center;
}

.tab-nav.tn-icon > li .md {
    font-size: 22px;
    line-height: 100%;
    min-height: 25px;
}

.tab-nav:not([data-tab-color]) > li > a:after {
    background: #2196f3;
}

.tab-nav[data-tab-color="green"] > li > a:after {
    background: #4caf50;
}

.tab-nav[data-tab-color="red"] > li > a:after {
    background: #f44336;
}

.tab-nav[data-tab-color="teal"] > li > a:after {
    background: #009688;
}

.tab-nav[data-tab-color="amber"] > li > a:after {
    background: #ffc107;
}

.tab-nav[data-tab-color="black"] > li > a:after {
    background: #000000;
}

.tab-nav[data-tab-color="cyan"] > li > a:after {
    background: #00bcd4;
}

.tab-content {
    padding: 20px 0;
}