{% extends 'base.html' %}
{% load material %}
{% block material_body_class %}login-body{% endblock %}
{% block material_main_class %}container valign-wrapper{% endblock %}
{% block material_content_class %}login-content{% endblock %}
{% block material_content %}
<!-- Login -->
<div id="login" class="lc-block toggled">
    <form action="" method="post">
        {% csrf_token %}

        {% material_formfield form.username icon='social-person' %}
        {% material_formfield form.password icon='hardware-security' %}

        <button type="submit" class="btn-floating btn-large red waves-effect">
            <i class="large mdi-navigation-arrow-forward"></i>
        </button>

    </form>
    <ul class="login-navigation">
        <li data-block="#forget-password" class="orange">Forgot Password?</li>
    </ul>
</div>


<!-- Forgot Password -->
<div class="lc-block" id="forget-password">
    <p class="left-align">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo
        lorem fringilla enim feugiat commodo sed ac lacus.</p>


    <a class="btn-floating btn-large red waves-effect">
        <i class="large mdi-navigation-arrow-forward"></i>
    </a>
    <ul class="login-navigation">
        <li data-block="#login" class="green">Login</li>
    </ul>
</div>
{% endblock %}
{% block material_extra_script %}
{% material_login_js %}
{% endblock %}