<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load i18n %}

    {% load staticfiles %}
    <link href="{% static 'css/login.css' %}" media="all" rel="stylesheet">
</head>

<body id="login-body">

<!-- Login -->
<div id="login" class="container center-vertically">
    <div class="row ">
        <div class="col-md-4 col-md-offset-4">
            <img src="{% static 'img/logo_fhb.svg' %}" class="img-responsive" alt="FHB Logo">
        </div>
    </div>

    <div class="row top-offset-50px">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Please sign in with your FHB account!' %}</h3>
                </div>
                <div class="panel-body">
                    <form action="" method="post" class="form">
                        {% csrf_token %}
                        {% bootstrap_form_errors form %}
                        {% bootstrap_field form.username bound_css_class=' ' %}
                        {% bootstrap_field form.password bound_css_class=' ' %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                {% trans 'Sign in' %}
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

