{% extends 'base.html' %}
{% load material %}
{% load staticfiles %}
{% block material_body_class %}student-index{% endblock %}
{% block material_nav %}
    <!-- Dropdown Structure -->
    <nav>
        <div class="nav-wrapper container">
            <a href="{% url 'index' %}" class="brand-logo center"></a>
            <ul class="right">
                {% if user.portaluser.student %}
                    <li>
                        <a href="{% url 'student-settings' %}" class="fancybox fancybox.iframe"
                           title="Privacy Settings">
                            <i class="mdi-social-person"></i>
                        </a>
                    </li>
                {% elif user.portaluser.tutor %}
                    <li>
                        <a href="{% url 'tutor-settings' %}" class="fancybox fancybox.iframe"
                           title="Privacy Settings">
                            <i class="mdi-social-person"></i>
                        </a>
                    </li>
                {% endif %}
                <li><a href="{% url 'logout' %}" title="Logout"><i
                        class="mdi-action-highlight-remove"></i></a></li>

            </ul>

        </div>
    </nav>

{% endblock %}
