<!DOCTYPE html>
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load i18n %}

    {% load staticfiles %}
    <link href="{% static 'css/fhb.css' %}" media="all" rel="stylesheet">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="{% static 'js/fhb.js' %}"></script>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="responsive-img navbar-brand" src="{% static 'img/logo_fhb.svg' %}" id="navbar-logo">
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'index' %}" title="{% trans 'Home' %}">
                        <button type="button" class="btn btn-default  btn-lg">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="
                            {% if user.portaluser.student %}
                                {% url 'student-settings' %}
                            {% elif user.portaluser.tutor %}
                                {% url 'tutor-settings' %}
                            {% endif %}"
                       title="{% trans 'Profile' %}">

                        <button type="button" class="btn btn-default  btn-lg">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}" title="{% trans 'Logout' %}">
                        <button type="button" class="btn btn-default  btn-lg ">
                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% block content %}
{% endblock %}
</body>

