{% extends 'base.html' %}
{% load material %}
{% block material_body_class %}login-body{% endblock %}
{% block material_main_class %}container valign-wrapper{% endblock %}
{% block material_content_class %}login-content{% endblock %}
{% block material_content %}
<!-- Login -->
<div id="login" class="lc-block toggled">
    <form action="" method="post">
        <div class="input-field col s12">
            <i class="mdi-social-person prefix"></i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s12">
            <i class="mdi-hardware-security prefix"></i>
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
        </div>
        <div class="input-field col s12">
            <input type="checkbox" id="signed_in"/>
            <label for="signed_in">Keep me signed in</label>
        </div>

        <a href="{% url 'student-overview' %}" class="btn-floating btn-large red waves-effect">
            <i class="large mdi-navigation-arrow-forward"></i>
        </a>

    </form>
    <ul class="login-navigation">
        <li data-block="#forget-password" class="orange">Forgot Password?</li>
    </ul>
</div>


<!-- Forgot Password -->
<div class="lc-block" id="forget-password">
    <p class="left-align">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu risus. Curabitur commodo
        lorem fringilla enim feugiat commodo sed ac lacus.</p>


    <a class="btn-floating btn-large red waves-effect">
        <i class="large mdi-navigation-arrow-forward"></i>
    </a>
    <ul class="login-navigation">
        <li data-block="#login" class="green">Login</li>
    </ul>
</div>
{% endblock %}
{% block material_extra_script %}
{% material_login_js %}
{% endblock %}